:root {
    --none: rgb(75, 191, 241);
    --cornerSize: 5%;
    --visited: rgb(40, 133, 173); /*rgb(49, 186, 245)*/
    --path: gold;
    --wall: black;
    --borderWallSize: 15%;
    --weightOne: rgb(216, 199, 255);
    --weightTwo: rgb(155, 109, 255);

    --transparent: rgba(0, 0, 0, 0);
}

.Cell {
    align-self: center;
    border: 0.5px solid black;
    height: 1.75vw;
    width: 1.75vw;
    display: inline-block;
    margin-bottom: -4px;
    min-width: 25px;
    min-height: 25px;
    position: relative;
    /* background: linear-gradient(to top, var(--wall) var(--borderWallSize) var(--transparent) var(--borderWallSize)); */
}

.Cell__None {
    /* background:
        black,
        linear-gradient(to top, var(--transparent) var(--cornerSize), var(--none) var(--cornerSize), var(--none) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))),
        linear-gradient(to right, var(--transparent) var(--cornerSize), var(--none) var(--cornerSize), var(--none) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))); */
    background-color: var(--none);
}

/*
.Cell__NotVisited {
    background-color: rgb(200, 200, 200);
}
*/

.Cell__Visited {
    /* background:
        black,
        linear-gradient(to top, var(--transparent) var(--cornerSize), var(--visited) var(--cornerSize), var(--visited) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))),
        linear-gradient(to right, var(--transparent) var(--cornerSize), var(--visited) var(--cornerSize), var(--visited) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))); */
    background-color: var(--visited);
}

.Cell__WeightOne {
    /* background:
        black,
        linear-gradient(to top, var(--transparent) var(--cornerSize), var(--weightOne) var(--cornerSize), var(--weightOne) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))),
        linear-gradient(to right, var(--transparent) var(--cornerSize), var(--weightOne) var(--cornerSize), var(--weightOne) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))); */
    background-color: var(--weightOne);
}

.Cell__WeightTwo {
    /* background:
        black,
        linear-gradient(to top, var(--transparent) var(--cornerSize), var(--weightTwo) var(--cornerSize), var(--weightTwo) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))),
        linear-gradient(to right, var(--transparent) var(--cornerSize), var(--weightTwo) var(--cornerSize), var(--weightTwo) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))); */
    background-color: var(--weightTwo);
}

.Cell__Path {
    /* background:
    black,
    linear-gradient(to top, var(--transparent) var(--cornerSize), var(--path) var(--cornerSize), var(--path) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))),
    linear-gradient(to right, var(--transparent) var(--cornerSize), var(--path) var(--cornerSize), var(--path) calc(100% - var(--cornerSize)), var(--transparent) calc(100% - var(--cornerSize))); */
    background-color: var(--path);
}

.Cell__CellWall {
    background-color: black;
}

.Cell__Start {
    background: red;
}

.Cell__Finish {
    background: green;
}

.Cell__TopWall {
    background-image: linear-gradient(
        to bottom,
        var(--wall) var(--borderWallSize),
        var(--transparent) var(--borderWallSize)
    );
}

.Cell__RightWall {
    background-image: linear-gradient(
        to left,
        var(--wall) var(--borderWallSize),
        var(--transparent) var(--borderWallSize)
    );
}

.Cell__LeftWall {
    background-image: linear-gradient(
        to right,
        var(--wall) var(--borderWallSize),
        var(--transparent) var(--borderWallSize)
    );
}

.Cell__BottomWall {
    background-image: linear-gradient(
        to top,
        var(--wall) var(--borderWallSize),
        var(--transparent) var(--borderWallSize)
    );
}
