.Cell {
    align-self: center;
    border: 1px solid black;
    height: 1.75vw;
    width: 1.75vw;
    background-color: rgb(200, 200, 200);
    display: inline-block;
    margin-bottom: -4px;
    min-width: 25px;
    min-height: 25px;
}

/*
.Cell:active {
}
*/

.Cell__None {
    background-color: rgb(200, 200, 200);
}

/*
.Cell__NotVisited {
    background-color: rgb(200, 200, 200);
}
*/

.Cell__Visited {
    background-color: rgb(100, 100, 100);
}

.Cell__WeightOne {
    background-color: rgb(44, 130, 241);
}

.Cell__WeightTwo {
    background-color: rgb(20, 83, 167);
}

.Cell__Path {
    background-color: gold;
}

.Cell__CellWall {
    background-color: black;
}

.Cell__Start {
    background-color: red;
}

.Cell__Finish {
    background-color: green;
}

.Cell__TopWall {
    border-top-color: red;
}

.Cell__RightWall {
    border-right-color: red;
}

.Cell__LeftWall {
    border-left-color: red;
}

.cell__BottomWall {
    border-bottom-color: red;
}
