.Header {
    min-width: 1350px;
    color: "white";
}

.Header__Top {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 51, 51);
}

.Header__Bottom {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(120, 120, 120);
    color: "white";
}
