.Grid {
    margin-top: 2vw;
    min-width: 1350px;
    margin-bottom: 2vw;
    display: inline-block;
    border: 3px solid black;
}

.MainPage {
    background: rgb(200, 200, 200);
    height: 100vh;
}
